.sidebar {
    padding: 15px;
    background-color: white;
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: scroll;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .logo {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .logo img {
    width: 100px;
}

.sidebar .close {
    font-size: 25px;
    cursor: pointer;
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .close:hover {
    color: red;
}

.sidebar .links div {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
}

.sidebar .links div a {
    flex: 1;
    padding: 15px;
    color: black;
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .links div i {
    padding: 15px;
    cursor: pointer;
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .links div a.active,
.sidebar .links div a:hover {
    color: var(--main-color);
}

.sidebar .links div i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .links div i.active,
.sidebar .links div i:hover {
    color: rgba(84, 176, 252, 0.568);
}

.sidebar .links>li i.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.d-none {
    display: none;
}

.sidebar .links .section-links {
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .links .section-links li a {
    width: 100%;
    padding: 15px 0 15px 30px;
    color: black;
    -webkit-transition: var(--common-transition);
    -moz-transition: var(--common-transition);
    -ms-transition: var(--common-transition);
    -o-transition: var(--common-transition);
    transition: var(--common-transition);
}

.sidebar .links .section-links li a:hover {
    padding-left: 50px;
    color: var(--main-color);
}